# Unity gitignores
##############################

##############################

# Unreal Engine gitignores
##############################

##############################

# Visual Studio gitignores
##############################

# Visual Studio cache/options directory
.vs/

##############################
