# Unity gitignores
##############################

# Unity cache
/[Ll]ibrary/

##############################

# Unreal Engine gitignores
##############################

##############################

# Visual Studio gitignores
##############################

# Visual Studio cache/options directory
.vs/

##############################
